<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <classPathEntry location="D:/mysql-connector-java-5.1.20.jar"/>

  <context id="DB2Tables" targetRuntime="MyBatis3">

    <commentGenerator>
      <property name="suppressDate" value="true"/>
      <property name="suppressAllComments" value="true"/>
    </commentGenerator>

    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                    connectionURL="jdbc:mysql://192.168.0.16:3306/dev?generateSimpleParameterMetadata=true"
                    userId="dev01"
                    password="dev01@dev01">
    </jdbcConnection>

    <javaTypeResolver>
      <property name="forceBigDecimals" value="false"/>
    </javaTypeResolver>

    <!-- generate Model -->
    <javaModelGenerator targetPackage="com.dhf.driverloc.dao.entity" targetProject="target\">
      <property name="enableSubPackages" value="true"/>
      <property name="trimStrings" value="true"/>
    </javaModelGenerator>


    <!-- generate xml -->
    <sqlMapGenerator targetPackage="com.dhf.driverloc.dao.mysql.mapper" targetProject="target\">
      <property name="enableSubPackages" value="true"/>
    </sqlMapGenerator>

    <!-- generate Mapper -->
    <javaClientGenerator type="XMLMAPPER" targetPackage="com.dhf.driverloc.dao.mysql.mapper" targetProject="target\">
      <property name="enableSubPackages" value="true"/>
      <property name="methodNameCalculator" value="org.mybatis.generator.api.DAOMethodNameCalculator"/>
    </javaClientGenerator>


    <table schema="" tableName="t_driver_location_log" domainObjectName="DriverLocationLog" enableCountByExample="false"
           enableUpdateByExample="false"
           enableDeleteByExample="false" enableSelectByExample="false"
           selectByExampleQueryId="false">
      <generatedKey column="id" sqlStatement="MySql" identity="true"/>
    </table>

    <table schema="" tableName="t_driver_loc_ordering" domainObjectName="DriverLocOrdering" enableCountByExample="false"
           enableUpdateByExample="false"
           enableDeleteByExample="false" enableSelectByExample="false"
           selectByExampleQueryId="false">
      <generatedKey column="id" sqlStatement="MySql" identity="true"/>
    </table>

    <table schema="" tableName="t_customer_location_log" domainObjectName="CustomerLocationLog"
           enableCountByExample="false" enableUpdateByExample="false"
           enableDeleteByExample="false" enableSelectByExample="false"
           selectByExampleQueryId="false">
      <generatedKey column="id" sqlStatement="MySql" identity="true"/>
    </table>

    <table schema="" tableName="t_driver_working_log" domainObjectName="DriverWorkingLog" enableCountByExample="false"
           enableUpdateByExample="false"
           enableDeleteByExample="false" enableSelectByExample="false"
           selectByExampleQueryId="false">
      <generatedKey column="id" sqlStatement="MySql" identity="true"/>
    </table>

  </context>
</generatorConfiguration>  