<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- 对包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
  <context:component-scan base-package="com.domain.java.controller"/>
  <!--<mvc:annotation-driven />-->
  <!-- controller中使用properties的配置 -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    <property name="locations">
      <list>
        <!-- 标准配置 -->
        <value>classpath*:/application.properties</value>
      </list>
    </property>
  </bean>
  <!-- controller中使用properties的配置 -->

  <!-- 通过配置文件，把一个视图名交给到一个View来处理，相比UrlBasedViewResolver加入了JSTL的支持 -->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <!-- 设置前缀，即视图所在的路径 -->
    <property name="prefix" value="/WEB-INF/views/"/>
    <!-- 设置后缀，即视图的扩展名 -->
    <property name="suffix" value=".jsp"/>
  </bean>

  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="defaultEncoding" value="UTF-8"/>
  </bean>

  <!-- 通过注解，把一个URL映射到Controller类的方法上 -->
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
      <list>
        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
          <property name="supportedMediaTypes">
            <list>
              <value>
                text/html;charset=UTF-8
              </value>
            </list>
          </property>
        </bean>
        <!-- 启动JSON格式的配置 -->
        <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
          <property name="supportedMediaTypes">
            <list>
              <value>application/json;charset=UTF-8</value>
            </list>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

  <!-- 拦截器 -->
  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**" />
      <bean class="com.domain.java.interceptor.DefaultInterceptor">

        <property name="exclusionsUrl">
          <list>
            <value>/index.html</value>
          </list>
        </property>
      </bean>
    </mvc:interceptor>
  </mvc:interceptors>

</beans> 